html{
    font-family: "Iosevka";
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, rgb(233, 135, 61), rgb(56, 102, 106));
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(217, 231, 223);
    font-size: 1.5rem;
}
