html{
    font-family: "Iosevka";
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(100deg, rgb(24, 45, 47), rgb(29, 51, 75));
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(217, 231, 223);
    font-size: 1.5rem;
}

p.poem {
    margin-top: 2px;
    margin-bottom: 2px;
}

.count {
    font-size: 40px;
}
